body {
  background-color: green;
}
h1 {
  color: red;
}

.startgame {
  height: 100px;
  width: 30%;
  margin-left: 35%;
  margin-top: 30%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightskyblue;
  font-size: 30px;
}

div {
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

div img {
  margin-left: 10px;
  height: 100%;
}
div input {
  margin-left: 10px;
  height: 100%;
}

.player1-endCard-holder {
  margin-bottom: -170px;
}
.player1-openCard-holder{
  margin-bottom: 40px;
}
.player1-card-holder{
  margin-bottom: 40px;
}
/* .player1-card-holder img{
  margin-left: -30px;
}
.player2-card-holder input{
  margin-left: -30px;
} */

.player2-endCard-holder {
  margin-bottom: -130px;
}